/* Styling for the NavBar */
.navBar {
    background-color: #3498db; /* Attractive blue background */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Styling for anchor tags in NavBar */
  .nameOfApp a {
    font-size: 45px;
    text-decoration: none;
    margin-left: -15px;
    color: #e9dbe2; /* Yellow color */
    letter-spacing: 4px;
    font-weight: 600;
    text-shadow: -1px 1px 0 #e74c3c, 1px 1px 0 #5cdbf1;
  }
  
  .nameOfApp img {
    height: 65px;
    width: 80px;
    margin-left: 30px;
    margin-top: -30px;
    border-radius: 50%;
  }
  
  /* Styling for the name of users */
  .nameOfUser {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 8px;
    margin-top: 8px;
    color: white;
    font-weight: bold;
  }
  
  .nameOfUser img {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-right: 8px;
  }
  
  /* Styling for logOut buttons in NavBar */
  .logOut a {
    font-size: 30px;
    margin-right: 10px;
    text-decoration: none;
    color: #333; /* Dark gray color */
  }
  
  /* Styling for the "No User" section */
  .noUser ul {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }
  
  .noUser li {
    list-style: none;
    font-size: 19px;
    padding-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .noUser li a {
    text-decoration: none;
    color: white;
  }
  
  /* Styling for the logOut small text */
  .logOut small {
    font-size: 17px;
    color: white;
    text-decoration: none #f1c40f; /* Yellow color */
    padding: 5px;
  }
  
  .logOut small:hover {
    color: #f1c40f; /* Yellow color */
  }
  